<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" type="text/css" href="SignUp.css">
    <script src="SignUp.js"></script>

    <style>
    </style>
    
</head>
<body>
    <div className="signup-container">
        <h1>Sign Up</h1>
        <div className="custom-line"></div>
        <input type="email" placeholder="Email Address:" required><br>
        <input type="password" placeholder="Create Password:" required><br>
        <input type="password" placeholder="Confirm Password:" required><br>
        <div class="btn-container">
            <button className="btn-student">Continue As Student</button>
            <button className="btn-lecturer">Continue As Lecturer</button>
        </div>
        <div className="line"></div>
        <button className="icon-buttongoogle">
            <img src="Thumbnails/Google.png" alt="Icon" width="22" height="25">
            Google
        </button>
        <button className="icon-buttonapple">
            <img src="Thumbnails\🦆 icon _apple.png"  alt="Icon" width="18" height="25">
            Apple
                </button>
                <p className="loginhyp">Already have have an account?<span class="SignIn"><strong>Sign In</strong></span></p>
    </div>

   
</body>
</html>
